# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

apps/api-gateway/node_modules
apps/auth-service/node_modules
apps/notifications-service/node_modules
apps/tasks-service/node_modules
apps/api-gateway/dist
apps/auth-service/dist
apps/notifications-service/dist
apps/tasks-service/dist
apps/api-gateway/.env.local
apps/auth-service/.env.local
apps/notifications-service/.env.local
apps/tasks-service/.env.local

node_modules
dist
dist-ssr
*.local
# Editor directories and files
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.deploy
